/*https://github.com/ebisucom/next-react-website/blob/main/blog/styles/footer.module.css*/
.wrapper {
  padding: var(--space-xl) 0;
  background-color: #5286ab;
}

.flexContainer {
  composes: sideBySideCenter from "./utils.module.css";
  gap: 2em;
}
